---
import { getCollection } from "astro:content";
import Meta from "../components/meta.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import { calculateReadingTime } from "../utils/helpers";

const featruedPost = await getCollection("posts", ({ data }) => {
    return data.tags.includes("featured");
});
const oneWeekLater = new Date();
oneWeekLater.setDate(oneWeekLater.getDate() - 7);

const mustReadPost = await getCollection("posts", ({ data }) => {
    const pubDate = new Date(data.pubDate);
    return pubDate > oneWeekLater && pubDate <= new Date();
});
---

<Layout title="Pavitra Pheres">
    <Meta slot="meta" image="test" />
    {
        mustReadPost.length > 0 && (
            <section class="flex flex-col items-start px-4">
                <div class="flex flex-col items-center py-4 w-full">
                    <h1 class="text-3xl font-bold text-secondary">
                        Latest Post
                    </h1>
                </div>
                {mustReadPost.slice(0, 4).map(({ body, data, slug }) => {
                    return (
                        <Card
                            link={`/blogs/${slug}`}
                            data={data}
                            readingTime={calculateReadingTime(body)}
                        />
                    );
                })}
            </section>
        )
    }

    {
        featruedPost.length > 0 && (
            <section class="flex flex-col items-start px-4">
                <div class="flex flex-col items-center py-4 w-full">
                    <h1 class="text-3xl font-bold text-secondary">
                        Featured Post
                    </h1>
                </div>
                {featruedPost.slice(0, 8).map(({ body, data, slug }) => {
                    return (
                        <Card
                            link={`/blogs/${slug}`}
                            data={data}
                            readingTime={calculateReadingTime(body)}
                        />
                    );
                })}
            </section>
        )
    }
</Layout>
