---
import { navigation, description, social } from "../application.json";
import { icons, SocialIcons } from "../utils/helpers";
import Logo from "./logo.astro";

const { links } = navigation;
 const currentYear = new Date().getFullYear();

---

<footer class="flex flex-col items-center border-t-gray-100 border-t-2 mt-4">
    <div class="lg:flex w-full items-center justify-between py-2 px-4">
        <div class="flex flex-col lg:items-start items-center  gap-2">
            <Logo />
            {/* <h3 class="text-sm font-medium text-secondary">{tagline}</h3> */}
            <p class="text-sm w-80 lg:text-left text-center">
                {description}
            </p>

            <div class="flex items-center flex-col gap-2 lg:my-0 my-4">
                <h3 class="text-sm font-bold">Follow us on</h3>
                <div class="flex gap-4">
                    {social.map(({ name, url }) => {
                        const Icon = icons[SocialIcons[name]];
                        return (
                            <a aria-label={name} href={url} class="text-primary">
                                <Icon class="size-4" />
                            </a>
                        );
                    })}
                </div>
            </div>
        </div>

        <div class="flex lg:flex-row flex-col gap-10">
            <div class="flex flex-col items-center">
                <h2 class="font-bold">Page</h2>
                <nav class="flex flex-col  items-center">
                    {links.map(({ name, url }) => (
                        <a  href={url}>
                            {name}
                        </a>
                    ))}
                </nav>
            </div>
            <div class="flex flex-col items-center">
                <h2 class="font-bold">Blogs</h2>
                <span class="flex flex-col items-center">
                    <a href="http://localhost:3000/blogs">Something </a>
                </span>
            </div>
            <div class="flex flex-col items-center">
                <h2 class="font-bold">Legal</h2>
                <span class="flex flex-col items-center">
                    <a href="http://localhost:3000/blogs">Something </a>
                </span>
            </div>
        </div>
    </div>

    <div>
        <p class="text-xs py-2">
            © {currentYear} Pavitra Pheres. All rights reserved.
        </p>
    </div>
</footer>

